body {
	font-family: Sans;
}
header h1 {
	margin-bottom: .2em ;
}
header p {
	margin-top: 0;
	font-size: .9em;
}
main {
	margin-top: 2em;
	padding-right: 2em;
}
input, button {
	display: block;
	margin: 1em 0;
}

input {
	width: 100%;
	padding: 1em .2em;
}
button {
	border-radius: 0;
	border: 0;
	padding: .5em 1em;
	background-color: #46326b;
	color: white;
}
.output li {
	list-style: none;
}
.output li:hover {
	cursor: pointer;
	color: green;
}
.output {
	position: absolute;
	background-color: white;
}

.hidden {
	display: none;
}

footer {
	font-size: .8em;
	color: grey;
}
footer p {
	padding-top: 2em;
}
footer a {
	color: #6a51a3;
}
