body {
    margin: 0 auto;
    width: 90%;
}
p.caption {
  margin-top: 0;
}
h1 {
  margin-bottom: .1em;
}
nav li {
  list-style: none;
  float: left;
  padding: .3em .5em .4em .5em;
  margin: 0 .1em;
  background-color: black;
  color: white;
}
nav li.ready:hover {
  cursor: pointer;
}
nav ul {
  padding: 0;
}
nav .not_ready {
  color: grey;
}
nav .active {
  background-color: steelblue;
}
nav li.active:hover {
    cursor: text;
}

main {
    margin-top: 5em;
}

/* Оформление таблицы */
table {
	border-collapse: collapse;

}
table tr {
  border-top: 1px solid #DEE2DE;
}

tbody {
  text-align: center;
}
tbody tr:hover:not(.active) {
	background-color: #edf8e9; 
    opacity: .8;
}
.text {
    cursor: pointer;
}
.active {
    background-color: #bae4b3;
}
table td:first-child, th:first-child {
  text-align: left;
}
table caption {
    text-align: right;
    color: grey;
    font-size: .8em;
}
thead th {
  font-size: .9em;
  font-weight: normal;
  padding: .2em;
}
