header h1 {
	margin-bottom: .2em ;
}
header p {
	margin-top: 0;
	font-size: .9em;
}
main {
	margin-top: 2em;
	padding-right: 2em;
}
input, button {
	display: block;
	margin: 1em 0;
}

input {
	width: 100%;
}

.output li {
	list-style: none;
}
.output li:hover {
	cursor: pointer;
	color: green;
}
.hidden {
	display: none;
}

footer {
	font-size: .8em;
	color: grey;
}
footer p {
	padding-top: 2em;
}
